@font-face {
  font-family: 'MedievalSharp-Regular';
  src: local('MyFont'), url(./fonts/MedievalSharp/MedievalSharp-Regular.ttf) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'MedievalSharp-Regular', serif;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slick-list{ max-height: 300px ; }

.slick-slider{ max-height: 100% ; }

.slick-list img{ width: 80%; height: 80%; }


.main_background {
  background-image: url("./assets/main_background.jpeg");
  background-size: cover; /* or "contain" depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #cccccc;
}

.battle_background {
  background-image: url("./assets/battle_background.jpeg");
  background-size: cover; /* or "contain" depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #cccccc;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 80vh;
  border-color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;