@font-face {
  font-family: 'MedievalSharp-Regular';
  src: local('MyFont'), url(./fonts/MedievalSharp/MedievalSharp-Regular.ttf) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'MedievalSharp-Regular', serif;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;